/* Fonts */

/* Main */
/* div {
	border: 1px solid red;
} */
body {
	background-color: #f5f5f5;
}
.about,
.landing,
.projects,
.contact {
	width: 70%;
}
.about,
.landing {
	height: 50em;
}

.row {
	margin-top: 2em;
}

/* Nav */
nav {
	background: none;
	margin-top: 3em;
}
li > a {
	color: black !important;
	font-size: 1.5em;
	margin-right: 1em;
}

/*  Landing */
.landing {
	margin-top: 12em;
}
.job {
	color: #7233c4;
}
/* About */

.profile-pic {
	width: 20em;
	height: 20em;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 10px 10px 20px rgba(179, 179, 179, 0.973);
}
.desc {
	margin-top: 3em;
}
/* Projects */

.card {
	padding: 2em;
	margin-top: 2em;
	border: none;
	min-height: 43em;
	box-shadow: 10px 10px 20px rgba(216, 216, 216, 0.973);
}
.c-img {
	height: 300px;
	min-width: 350px;
	object-fit: cover;
}
.card-title {
	margin-top: 1em;
}

.fab,
.fas {
	margin-right: 0.5em;
	font-size: 2em;
	color: #5a5a5a;
}

/* Contact */
.contact {
	margin-top: 5em;
	height: 20em;
	text-align: center;
}
.contact-icons > li {
	display: inline;
}
