/* !Main */
/* div {
	border: 1px solid red;
} */

.header {
	text-align: center;
	padding-top: 2em;
}
.base {
	height: 100vh;
}
a:hover,
a > *:hover {
	color: #d557ee !important;
}
/* !Hero section layout */
.landing {
	background: #32303b;
}
.hero-content {
	padding-top: 30vh;
	padding-left: 5vw;
}
/* !Hero section fonts */
.my-name,
.change-text {
	font-weight: 500;
}
.my-name {
	color: #7fffd4;
}
.hero-text,
.nav-link,
.fa-bars {
	color: #ebebeb;
}

/* Nav */
#navbar {
	margin-left: -0.5em;
	width: 100%;
}
.navbar-toggler:focus {
	outline: none;
	box-shadow: none;
}
.navbar-fixed {
	top: 0;
	z-index: 100;
	width: 200%;
	position: fixed;
	margin-left: -20vw;
	padding: 0 20vw;

	background: #32303b;
}
.fa-bars {
	font-size: 1.3em;
}

/* !About layout */
.profile-pic {
	width: 20em;
	height: 20em;
	object-fit: cover;
	border-radius: 50%;
	padding: 2em;
	/* box-shadow: 10px 10px 20px rgba(179, 179, 179, 0.973); */
}
.about-col {
	text-align: center;
}
.about-desc {
	text-align: left;
	font-size: 1.1em;
}
/* !About skills */
.skills-flex {
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	width: 30vw;
}

.skills-flex > div {
	font-size: 3em;
	padding: 5px;
}

/* !Projects */
.projects {
	margin-bottom: 5em;
}
.card {
	padding: 2em;
	margin-top: 2em;
	border: none;
	min-height: 43em;
	box-shadow: 10px 10px 20px rgba(216, 216, 216, 0.973);
}
.c-img {
	height: 300px;
	min-width: 350px;
	object-fit: cover;
}
.card-title {
	margin-top: 1em;
}

.p-icon {
	margin-right: 0.5em;
	font-size: 2em;
	color: #5a5a5a;
}

/* !Footer */
footer {
	height: 23vh;
	background: #32303b;
	color: #ebebeb;
	text-align: center;
	padding: 3em;
}
.footer-icons > li {
	display: inline;
	margin-right: 2em;
}
.c-icon {
	padding-bottom: 0.5em;
	font-size: 3em;
	color: #eeeeee;
}
